<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/controller/user.js"></script>
    <title>Document</title>
</head>
<body>
    <form  method="POST">
        <input type="text" placeholder="Enter Email" name="TaskName" required>
        <input type="text"  placeholder="Enter Task Description" name="TaskDesc" required>
        <input type="text"  placeholder="Enter Reporting Manager" name="ReportingManager" required>
        <input type="text"  placeholder="Enter Project Name" name="ProjectName" required>
        <input type="text"  placeholder="Cretaed by" name="CreatedBy" required>
        <input type="date"  placeholder="Create Date" name="CreateDate" required>
        <input type="text"  placeholder="status" name="Status" required>
        <input type="submit">
    </form>
</body>
</html>