<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/controller/user.js"></script>
    <title>Document</title>
</head>
<body>
    <form  method="POST">
        <input type="email" placeholder="Enter Email" name="Email" required>
        <input type="password"  placeholder="Enter Password" name="Password" required>
        <input type="submit">
        <p>Don't Have an Account? Sign Up</p>
        <button><a href="RegisterUser">Signup</a></button>
    </form>
</body>
</html>