<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>\</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" placholder="Enter Name" name="Name" required="true"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="email" placholder="Enter Email" name="Email"  required="true"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" placholder="Enter phone" name="Password" required="true"></td>
            </tr>
            <tr>
                <td><input type="submit">
                </td>
            </tr>
        </table>
    </form>
    
</body>
</html>
